body {
  position: relative;
  color: #CCC;
  border-color: #CCC;
  height: 100vh;
  background-color: #232C39;
  font-family: Arial, Helvetica, Helvetica Neue;
  overflow-y: hidden;
}

h2 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -.025em;
  color: #fff;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: .75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

.button {
  font-size: 20px;
  font-weight: light;
  border: 1px solid white;
  color: #CCC;
  background-color: #333;
  margin: 10px;
  width: 150px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  padding: 10px;
}

.btn:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}
