.backButton {
  position: absolute;
}

.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.header {
    font-size: 50px;
    font-weight: bolder;
    padding: 20px;
    border-bottom: 1px solid;
    margin-bottom: 20px;
}

.data {
    text-align: left;
    width: 40%;
    margin: 0 auto;
}

.btnGroup {
    margin-top: 20px;
    border-top: 1px solid;
    padding: 10px;
}
